/*------------------this is for logo section or header section--------------*/
.logo-container {
  text-align: center; 
  padding: 5px 10px;  
}

.logo {
  max-width: 100%; /* Limiting the width of the logo, you can adjust this */
  height: 100px; /* This maintains the aspect ratio of the image */
}


/* -------------this is for nav bar-----------------*/
body {
  font-family: 'Poppins', sans-serif; /* Using a custom font */
}
.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 20px 10px;
  background-color: #333;
  font-size: large;
}

.nav-links a, .hamburger-icon {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.hamburger-menu {
  position: relative; 
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
}

.hamburger-icon:hover {
  cursor: pointer;
}

/* ---------------Going to work on Horoscopes/Numerology/love area-------------------*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.slideshow-container img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  text-align: center;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(7, 6, 6);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Footer navigation links */
footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  display: inline;
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Hoover effects */
footer a:hover {
  color: #ffcc00; /* Change the link color on hover */
}