/*------------------this is for logo section or header section--------------*/
.logo-container {
  text-align: center; 
  padding: 5px 10px;  
}

.logo {
  max-width: 100%; /* Limiting the width of the logo, you can adjust this */
  height: 100px; /* This maintains the aspect ratio of the image */
}


/* -------------this is for nav bar-----------------*/
body {
  font-family: 'Poppins', sans-serif; /* Using a custom font */
}
.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 20px 10px;
  background-color: #333;
  font-size: large;
}

.nav-links a, .hamburger-icon {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.hamburger-menu {
  position: relative; 
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
}

.hamburger-icon:hover {
  cursor: pointer;
}

/* ---------------Going to work on Horoscopes/Numerology/love area-------------------*/
.horoscope-section, .numerology-section, .love-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  background: linear-gradient(45deg, #f9f9f9, #e6e6e6); /* Gradient background */
  text-align: center;
}

.horoscope-section h1, .numerology-section h1, .love-section h1{
  width: 100%;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-weight: 600;
  font-size: 39px;
}

.zodiac-sign, .numero-sign, .love-sign {
  margin: 15px;
  text-align: center;
  transition: transform 0.3s; /* Smooth transform transition for hover effect */
}

.zodiac-sign img, .numero-sign img, .love-sign img {
  max-width: 60px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%; /* Rounded icons */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  transition: all 0.3s; /* Smooth transition for hover effect */
}

.zodiac-sign a, .numero-sign a, .love-sign a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: 500; /* Slightly bolder text */
  transition: color 0.3s; /* Smooth color transition for hover effect */
  padding: 5px 0;
}

/* Hover effects */
.zodiac-sign:hover, .numero-sign:hover, .love-sign:hover {
  transform: scale(1.1); /* Scale up zodiac sign container on hover */
}

.zodiac-sign:hover img, .numero-sign:hover img, .love-sign:hover img {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow for depth */
}

.zodiac-sign:hover a, .numero-sign:hover a, .love-sign:hover a {
  color: #0077cc; /* Change text color on hover */
}

/* ***********************hrlogo************************** */
.hr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0;
}

.custom-hr {
    flex-grow: 1;                  /* Allow the hr to grow and occupy the space */
    border: 0;                     
    height: 3px;
    background-image: linear-gradient(90deg, #0077cc, #f9f9f9, #0077cc);
    margin: 0 10px;               /* Space between hr and logo */
}

.hr-logo {
    width: 40px;                  /* Adjust based on your logo's desired size */
    height: auto;
    position: relative;
    z-index: 1;                   /* Bring logo to front */
}

/* ***********************tarot************************** */

.tarot-sign {
  margin: 15px;
  text-align: center;
  transition: transform 0.5s; /* Smooth transform transition for hover effect */
}

.tarot-sign img {
  max-width: 100px;
  height: auto;
  margin-bottom: 1px;
  border-radius: 10%; /* Rounded icons */
  box-shadow: 10px 10px 100px rgba(228, 13, 13, 0.1); /* Shadow for depth */
  transition: all 0.3s; /* Smooth transition for hover effect */
}

.tarot-sign a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: 500; /* Slightly bolder text */
  transition: color 0.3s; /* Smooth color transition for hover effect */
  padding: 5px 0;
}

/* Hover effects */
.tarot-sign:hover {
  transform: scale(1.1); /* Scale up zodiac sign container on hover */
}

.tarot-sign:hover img {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow for depth */
}

.tarot-sign:hover a {
  color: #0077cc; /* Change text color on hover */
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Footer navigation links */
footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  display: inline;
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Hoover effects */
footer a:hover {
  color: #ffcc00; /* Change the link color on hover */
}
